.middleMobileView{
    height: 500px;
    width: 300px; 
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
    align-items: center;
    gap:40px;
    padding: 0 20px;
    border-radius: 20px;
    border: 1px solid rgb(235, 232, 232);

}
.middleAvtar{
    height: 60px;
    width: 60px;
    margin-top: 50px;
    border-radius: 50%;
    border: 1px solid grey;
    background-color: lightgrey;
}


.email input{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 20px;
    
    
}


.password input{
    font-size: 20px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 10px;
    
}